* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 213, 213);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.all {
    display: flex; 
    min-height: 100vh;
}


.sidebar {
    background-color: rgb(221, 222, 222);
    width: 180px;
    height: 700px;
    border-radius: 0 30px 30px 0;
    padding: 20px;
    flex-shrink: 0;
    position: sticky;
    

    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 40px;
    }

    .menu-item {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        img { width: 24px; height: auto; }
        p {
           font-weight: 600; color: #555;
           }
        &:hover p { 
          color: #4a90e2; 
        }
    }
}


.main-content {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.TOPmenu {
    background-color: rgb(221, 222, 222);
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 1px;

    .search {
        background: white;
        padding: 10px 20px;
        border-radius: 10px;
        width: 420px;
        height: 40px;
        input { border: none; outline: none; width: 100%; }
        margin-left: 120px;

        img{
          width: 15px;
          height: 15px;
          margin-left: 470px;
          margin-bottom: px;
        }
        p{
          margin-top: 300px;
        }
    }
}


.content-body {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    @media (max-width: 1100px) {
        flex-direction: column; 
    }
}



.right_menu {
    background-color: #4f93e5;
    width: 430px;
    height: 450px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.right_card {
    background: white;
    width: 85%;
    height: 85%;
    border-radius: 20px;
    padding: 20px;
    position: relative;

    .Name p { 
        display: flex;
      color: #3187ea; font-size: 24px; font-weight: bold; 
    }
    .gradusi 
    p { 
      font-size: 22px; margin: 5px 0; 
    }
    
    .sunny_img img {
        position: absolute;
        width: 60px;
        bottom: 15px;
        right: 15px;
    }
}

